body {
    background-color: var(--negro);
}

.container {
    max-width: 1200px; /* O el ancho que prefieras */
    margin: 0 auto;    /* Centra el bloque */
    padding: 0 40px;   /* Margen interno para que en tablets/móvil no toque el borde */
    width: 100%;       /* Para que sea responsivo */
}

.container-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Esto hará que el texto de la izquierda y los números de la derecha se alineen por el centro */
    min-height: 70vh;    /* Le da una altura mínima generosa */
    flex-wrap: wrap;
}

#header {
    background-color: var(--header-negro);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 75px;
    justify-content: space-between;
    border-bottom: 3px solid var(--rojo);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
    color: var(--gris);
    font-family: var(--fuente-secundaria);
    letter-spacing: 2px;
    margin: 0 auto;
    font-size: small;
}

#header h1 {
    color: var(--rojo);
    font-size: 22px;
    font-family: var(--fuente-principal);
    text-transform: none;
    font-weight: 400;
    letter-spacing: 3px;
}

#header .btn {
    background-color: var(--rojo);
    color: var(--blanco);   
}

#hero {
    border-bottom: 3px solid var(--rojo);
    padding: 80px 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/hero_img.png');
}

.hero-tagline {
    font-family: var(--fuente-secundaria);
    color: var(--rojo);
    letter-spacing: 4px;
    font-size: 11px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 16px;
}

#hero h2 {
    font-family: var(--fuente-principal);
    color: var(--blanco);
    font-size: 80px;
    line-height: 1;
    letter-spacing: 4px;
}

#hero h2 span {
    color: var(--rojo);
}

#hero .btn {
    background-color: var(--rojo);
    color: var(--blanco);
    gap: 20px;
}

#hero .btn-secundario {
    background-color: transparent;
    border: 1px solid var(--gris);
    color: var(--gris);
}

.hero2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero2 hr {
    border: 1px solid var(--borde-tarjetas);
    height: 60px;
    margin: 0 20px;
}

.hero-numeros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: var(--fuente-principal);
}

.hero-numeros p:last-child {
    font-family: var(--fuente-secundaria);
    color: var(--gris);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 4px;
}

.hero-numero {
    color: var(--rojo);
    font-size: 40px;
}

.p-margin {
    margin: 40px 0;
    max-width: 90%;
}

.container-clases {
    min-height: 70vh;
    margin: 80px auto;
}

.clases-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 40px;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    flex: 1;
}

.clase-card {
    background-color: var(--negro2);
    border: 1px solid var(--borde-tarjetas);
    flex: 1;
    position: relative;
    gap: 26px;
    padding: 28px;
}

.clase-popular {
    border-color: var(--rojo);
}

.popular {
    position: absolute;
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    font-weight: 300;
    top: 16px;
    right: 16px;
    background: var(--rojo);
    color: var(--blanco);
    font-size: 10px;
    letter-spacing: 1px;
    padding: 4px 10px;
}

.flex-popular {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

.emoji-clases {
    font-size: 28px;
    margin-bottom: 16px;
}

.clase-card h3 {
    font-family: var(--fuente-principal);
    color: var(--blanco);
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 400;
}

.descripcion-card {
    font-family: var(--fuente-secundaria);
    color: var(--gris);
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-weight: 300;
}

.descripcion-card:last-child {
    margin-bottom: 0;
}

.clase-nivel {
    font-family: var(--fuente-secundaria);
    color: var(--gris);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 2px;
}

.entrenador1-img {
    margin-bottom: 16px;
    width: 100%;
    height: 50%;

}
